<div class="row">
  <div class="col-6">
    <h2>Chamber Pressure:</h2>

    <canvas id="chamber-pressure"></canvas>
  </div>
  <div class="col-6">
    <h2>Flow rates:</h2>

    <canvas id="flow"></canvas>
  </div>
</div>