<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>ALD Interface</title>
  </head>
  <body>
  		<div class="row">
			 <div class = "col-md-6">
				<h2>
					<form action="/action_page.php">
			 		<p>Precursors</p>
  					 <label for="A1">A1</label>  
  			 		<input type="text" id="A1" name="A1" value="temp" readonly><br><br>
			 		<label for="A2">A2</label>  
  			 		<input type="text" id="A2" name="A2" value="temp" readonly><br><br>
			 		<label for="A3">A3</label>  
  			 		<input type="text" id="A3" name="A3" value="temp" readonly><br><br>
			 		</form>
				</h2>
			</div>
			<div class = "col-md-6">
				<h2>
					<form action="/action_page.php">
			 		<p>Precursors</p>
			 		<label for="B1">B1</label>  
  			 		<input type="text" id="B1" name="B1" value="temp" readonly><br><br>
			 		</form>
				</h2>
			</div>
  		</div>
  		<div class="container">
			 <form action="/action_page.php">
  			 <label for="ALDProcessStatus">ALD Process Status:</label>  
  			 <input type="text" id="ALDProcessStatus" name="ALD Process Status" value="temp" readonly><br><br>
			 <label for="StepsCompleted">Steps Completed:</label>  
  			 <input type="text" id="StepsCompleted" name="StepsCompleted" value="temp" readonly><br><br>
			 </form>
  		</div>
  </body>
</html>