<!DOCTYPE html>
<html>

<head>
  <meta name="login" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: Arial;
    }

    form {
      border: 5px solid #f3f3f3;
    }

    input[type=text],
    input[type=password] {
      width: 100%;
      padding: 14px 22px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 22px;
      margin: 6px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    button:hover {
      opacity: 0.7;
    }

    span.psw {
      float: right;
      padding-top: 16px;
    }
    .backend{
      width: 25%;
      height: 50%;
    }
  </style>
</head>

<body>
  <div class = "backend">
    <h2>ALD Remote View</h2>

  <form action="/auth" method="post">
    <div class="imgcontainer">
      <img src="/images/bsulogo.png" alt="logo" class="logo" width="20%">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="Username" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="Password" required>

      <button type="submit">Login</button>

    </div>
  </form>
  </div>

</body>

</html>